.contact-section {

  backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  border-radius: 15px;
}

.contact-card {
  background: rgba(114, 135, 193, 0.18);
  transition: all 0.25s ease-in-out;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.contact-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 1rem 3rem rgba(0,0,0,.075) !important;
  border-color: #0d6efd44 !important;
}

.icon-circle {
  background: #ffffff !important;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  font-size: 1.25rem;
}

/* Optional: Stretched link makes the whole card clickable */
.stretched-link::after {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: 1;
  content: "";
}
